html, body{
    padding: 0;
    margin: 0;
    --theme-color: rgb(55, 55, 165);
    background-color: rgba(55, 55, 165, 0.1);
}
header, footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(55, 55, 165);
    color: white;
}
header h1{
    font-size: 300%;
}
header nav{
    width: 100%;
}
#wel{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
nav ul li a{
    color: var(--theme-color);
    text-decoration: none;
    font-size: 120%;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul li a:hover{
    font-weight: bold;
}
main div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#home-div img{
    height: 300px;
    width: 500px;
}
.place h2{
    color: var(--theme-color);
}
.place{
    margin-bottom: 30px;
}
.place div img{
    width: 30%;
    float: left;
    margin-right: 20px;
}
.place p{
    width: 67%;
    float: right;
}
.place div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.langauges dt{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 130%;
}
.accommodation{
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.accommodation h2{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    color: var(--theme-color);
}
.accommodation p{
    margin: 0;
    padding: 0;
}
.feedback{
    border: 2px solid var(--theme-color);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
#send-feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#send-feeback textarea, input, select{
    margin-bottom: 10px;
    width: 80%;
    padding: 7px;
    font-size: 100%;
}
#submit{
    background-color: var(--theme-color);
    color: white;
    border: 0px;
    border-radius: 4px;
}